<h1>Mi proyecto de Angular</h1>
<h2>Por Rubén Castellano Fernández</h2>
<p>Mi aplicación está basada en la api de de chiste aleatorios de Chuck Norris.</p>
<p>Mediante dos servicios voy agregando las frases a una tabla en donde el usuario puede verlas. </p>
<p>Con el primer servicio se recoge todas las categorías y mediante un select el usuario puede seleccionar la categoría.</p>
<p>En el segundo servicio llamo a de nuevo a la api añadiendo la categoría que el usuario ha seleccionado de modo que la api devolverá una frase relacionada con la categoría agregándola a la tabla, y dándole la posibilidad de borrarla.</p>