

<h1>{{title}}</h1>

<div class="container">
    <div class="row">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand ms-5" [routerLink]="['home']">Home</a>
            <a class="navbar-brand" [routerLink]="['formulario']">Contacto</a>
            <a class="navbar-brand" [routerLink]="['chuck-norris']">Chuck Norris</a>
        </nav>
      </div>
      <div class="row">
        <div class="col-12">
          <br>
          <br>
          <br>
        </div>
</div>

<!-- <nav>
    <a [routerLink]="['home']">Home - </a>
    <a [routerLink]="['formulario']">Contacto - </a>
    <a [routerLink]="['chuck-norris']">Chuck Norris </a>

</nav> -->
<!-- <app-chuck-norris></app-chuck-norris> -->
<router-outlet></router-outlet>
